<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volk & David Management Systems</title>


    <!-- font awesome files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- jquery link -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="/assets/css/register.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">



</head>



<body>



    <!-- header section -->
    <%- include("partials/header.ejs") %>

        <!-- main content section start -->
        <section class="mainSection container" style=" padding: 0px; margin: auto;">

            <!-- left side bar -->
            <%- include("partials/sideBar.ejs") %>



                <!-- main container -->
                <div class="mainContentBar mt-2">

                    <div class="notificationOuterBox">
                        <form method="POST" action="" enctype="multipart/form-data">
                            <div class="notificationBoxHeader">
                                <span class="headerTitle">
                                    Generate invoice
                                </span>
                                <div class="selectCustomerDropDown">
                                    <select class="form-control selectCustomerList">
                                        <option value="false">Select Customer</option>

                                        <option value="true">New Invoice</option>
                                        <%if(userDetial){%>
                                            <option selected value="<%=userDetial._id%>">
                                                <%=userDetial.name%>
                                            </option>
                                            <%}%>
                                                <%for(var x=0; x< customerList.length; x++){%>
                                                    <option value="<%=customerList[x]._id%>">
                                                        <%=customerList[x].name%>
                                                    </option>
                                                    <%}%>
                                    </select>
                                </div>
                            </div>
                            <hr>

                            <div class="container" style="overflow:hidden;">


                                <div class="invoiceHeader geneinvoiceHeader">
                                    <div>
                                        <h1>Invoice</h1>
                                    </div>
                                    <div class="uploadLogo">
                                        <div class="uploadLogoBox">
                                            <img id="output" />
                                        </div>
                                        <label>Upload Logo
                                            <input type="file" accept="image/*" name="uploadLogofile" id="uploadLogo"
                                                onchange="loadFile(event)" style="display:none;" required>
                                        </label>
                                    </div>

                                </div>







                                <div class="invoiceFormOuterBox">
                                    <div class="invoiceForm">
                                        <h4>From</h4>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Name
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-12 col-md-9" style="margin-left: auto;">
                                                <input id="cName" name="cname" class="form-control" type="text"
                                                    placeholder="Business Name" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Email
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="cemail" name="cemail" class="form-control" type="text"
                                                    placeholder="volkanddavid@gmail.com" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Address
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="caddress" name="caddress" class="form-control" type="text"
                                                    placeholder="Street" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Phone
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="cphone" name="cphone" class="form-control" type="number"
                                                    placeholder="03423597555" required>
                                            </div>
                                        </div>
                                        <br>

                                    </div>


                                    <div class="invoiceForm">
                                        <h4>To</h4>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Name
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="toname" name="toname" class="form-control" type="text"
                                                    placeholder="Client Name" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Email
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="toemail" name="toemail" class="form-control" type="text"
                                                    placeholder="name@client.com" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Address
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9 " style="margin-left: auto;">
                                                <input id="toaddress" name="toaddress" class="form-control" type="text"
                                                    placeholder="Street" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Phone
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="tophone" name="tophone" class="form-control" type="number"
                                                    placeholder="0342355592" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="invoiceFormOuterBox">
                                    <div class="invoiceForm">
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    NTN
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="ntn" class="form-control" type="number" placeholder="NTN Number"
                                                    name="ntn">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Date
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="date" name="date" class="form-control" type="date"
                                                    placeholder="Dec 12 2021" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3lable">
                                                <label>
                                                    INC
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="inc" name="inc" class="form-control" type="number"
                                                    placeholder="INC Number">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Invoice No
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="invoiceNo" name="invoiceNo" class="form-control" type="number"
                                                    placeholder="Invoice No" required>
                                            </div>
                                        </div>
                                        <br>

                                    </div>


                                    <div class="invoiceForm">
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Payment Method
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="payment_method" class="form-control" type="text" placeholder="Jazz Cash"
                                                    name="payment_method" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Account Title
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="account_title"  name="account_title" class="form-control" type="text"
                                                    placeholder="Amjad" required>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12 col-md-3 lable">
                                                <label>
                                                    Account No
                                                </label>
                                            </div>
                                            <div class="col-lg-9 col-sm-9 col-md-9" style="margin-left: auto;">
                                                <input id="account_no" name="account_no" class="form-control" type="number"
                                                    placeholder="000066987678956" required>
                                            </div>
                                        </div>
                                        <br>

                                    </div>
                                </div>


                                <input type="text" name="ItemList" id="AllsessionData" style="display:none;">

                                <!-- invoice items -->
                                <div class="invoiceItemsTable">

                                    <div class="invoiceItemInnerTables">

                                        <div class="invoiceItemTableHeadering">
                                            <div class="addInvocieItemBtnList">
                                                <span style="visibility: hidden;">delet</span>
                                            </div>
                                            <div class="dextitlelBox">
                                                Description
                                            </div>
                                            <div>
                                                Qty
                                            </div>
                                            <div>
                                                Unit Price
                                            </div>
                                            <div>
                                                Total Price
                                            </div>
                                            <div>
                                                Discount
                                            </div>
                                            <div>
                                                Net Price
                                            </div>
                                        </div>



                                        <div class="generateInvoicetableBody">

                                            <div class="invoiceItemTableHeadering invoiceItemTextFields">

                                                <div class="addInvocieItemBtnList dltInvoiceItemBox">
                                                    <button type="button" class="btn btn-primary addMoreInvoiceBtn"
                                                        id="addMoreInvoice">+</button>
                                                </div>

                                                <div class="dextitlelBox">
                                                    <textarea class="form-control item_description" id="itemDes_0"
                                                        style="resize: none;"></textarea>
                                                </div>
                                                <div>
                                                    <input id="itemQty_0" type="number" class="form-control qty" min="0"
                                                        >
                                                </div>
                                                <div>
                                                    <input type="number" class="form-control unitPrice" min="0"
                                                        id="itemUnitePrice_0" >

                                                </div>
                                                <div>
                                                    <input type="number" class="form-control totalPrice" min="0"
                                                        id="totalPrice_0" value="0" >
                                                </div>
                                                <div>
                                                    <input type="number" class="form-control discount" min="0" value="0"
                                                        id="discount_0" >
                                                </div>
                                                <div>
                                                    <input type="number" class="form-control netPrice" min="0" value="0"
                                                        id="netPrice_0" >
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="invoiceItemInnerTables2"></div>
                                </div>


                                <br>
                                <hr>
                                <div class="invoiceSubTotalSummary">
                                    <div class="inviceSubTotalSummaryInnerBox">
                                        <div>
                                            <span>
                                                Subtotal
                                            </span>
                                            <span>
                                               <span id="subTotalVaue">0</span>.00
                                               <input type="text" id="subTotalVaueInput" name="subTotal" value="0" class="addTaxFieldGNinoice" style="display: none;">
                                            </span>
                                        </div>
                                        <div>
                                            <span>
                                                Tax
                                            </span>
                                            <span>
                                                <input class="addTaxFieldGNinoice" min="0" type="number" name="tax" value="0" id="addTax" >
                                            </span>
                                        </div>
                                        <div>
                                            <span>
                                                Total
                                            </span>
                                            <span>
                                                <span id="totalSummary">0</span>.00
                                                <input type="text" id="totalSummaryInput" name="total" value="0" class="addTaxFieldGNinoice" style="display: none;">
                                            </span>
                                        </div>
                                        <div>
                                            <span>
                                                Balance Due
                                            </span>
                                            <span>
                                                <span id="balanceDue">0</span>.00
                                                <input type="text" id="balanceDueInput" name="dueBalance" value="0" class="addTaxFieldGNinoice" style="display: none;">
                                            </span>
                                        </div>
                                    </div>
                                </div>



                                <div class="invoiceHeader geneinvoicefooter">
                                    <div class="uploadLogo">
                                        <div class="uploadLogoBox">
                                            <img id="output2" />
                                        </div>
                                        <label>Upload Signature
                                            <input type="file" accept="image/*" name="uploadSignature" id="uploadSignature"
                                                onchange="loadFile2(event)" style="display:none;" required>
                                        </label>
                                    </div>

                                </div>




                                <button type="submit" class="btn btn-primary generate_invoiceBtn"
                                    style="display: block; margin: auto;">Submit</button>


                            </div>
                        </form>
                    </div>



                    <footer class="mt-5">

                        <div>
                            <p>
                                copyright 2021
                            </p>
                        </div>
                        <div>
                            <p>
                                Made by wide range digital services
                            </p>
                        </div>
                    </footer>
                </div>


        </section>

</body>
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>


<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/assets/js/index.js"></script>


<script>


$(document).ready(function() {
    

        function addItemsInList() {
            var aryData = sessionStorage.getItem('itemAry')
            aryData = JSON.parse(aryData);

            if (aryData) {
               
                document.getElementById('AllsessionData').value = JSON.stringify(aryData)

                var invoiceItemsTable = document.getElementsByClassName('invoiceItemInnerTables2')[0]
                
                
                var html="";
                aryData.forEach(function (item, index) {
                    html += `<div class="invoiceItemInnerTables" id="invoiceItemInnerTables_${index}">
                                <div class="invoiceItemTableHeadering">
                                    <div class="addInvocieItemBtnList">
                                        <span style="visibility: hidden;">delet</span>
                                    </div>
                                    <div class="dextitlelBox">
                                        Description
                                    </div>
                                    <div>
                                        Qty
                                    </div>
                                    <div>
                                        Unit Price
                                    </div>
                                    <div>
                                        Total Price
                                    </div>
                                    <div>
                                        Discount
                                    </div>
                                    <div>
                                        Net Price
                                    </div>
                                </div>

                                <div class="generateInvoicetableBody">

                                    <div class="invoiceItemTableHeadering invoiceItemTextFields"
                                        id="invoiceItemTextFields_${index}">
                                        <div class="addInvocieItemBtnList dltInvoiceItemBox">
                                            <button type="button"  class="btn btn-danger dltItem" id="dltItem_${index}">x</button>
                                        </div>
                                        <div class="dextitlelBox">
                                            <textarea class="form-control item_description" 
                                             style="resize: none;" required>${item.itemDes_0}</textarea>
                                        </div>
                                        <div>
                                            <input  type="number" value="${item.itemQty_0}" class="form-control qty" min="0" required>
                                        </div>
                                        <div>
                                            <input type="number" class="form-control unitPrice" min="0"
                                            value="${item.itemUnitePrice_0}" required>

                                        </div>
                                        <div>
                                            <input type="number" class="form-control totalPrice" min="0"
                                             value="${item.totalPrice_0}" required>
                                        </div>
                                        <div>
                                            <input type="number" class="form-control discount" min="0" 
                                            value="${item.discount_0}" required>
                                        </div>
                                        <div>
                                            <input type="number" class="form-control netPrice" min="0" 
                                             value="${item.netPrice_0}" required>
                                        </div>
                                    </div>

                                </div>
                                </div>` ;

                invoiceItemsTable.innerHTML = html 
                })
                
            }
        }

       addItemsInList()
    


            var addMoreInvoice = document.getElementById('addMoreInvoice');

            addMoreInvoice.addEventListener('click', function (){
                   
                var itemDes_0 = document.getElementById('itemDes_0').value;
                var itemQty_0 = document.getElementById('itemQty_0').value;
                var itemUnitePrice_0 = document.getElementById('itemUnitePrice_0').value;
                var totalPrice_0 = document.getElementById('totalPrice_0').value;
                var discount_0 = document.getElementById('discount_0').value;
                var netPrice_0 = document.getElementById('netPrice_0').value;
                console.log(netPrice_0)
                var itemOBject = "";

                    if (itemDes_0 != "" && itemQty_0 != "" && itemUnitePrice_0 != "" && totalPrice_0 != "" && discount_0 != "" && netPrice_0 != "") {
                        
                        itemOBject = {
                            itemDes_0: itemDes_0,
                            itemQty_0: itemQty_0,
                            itemUnitePrice_0: itemUnitePrice_0,
                            totalPrice_0: totalPrice_0,
                            discount_0: discount_0,
                            netPrice_0: netPrice_0,
                        }

                   
                        var localAry = sessionStorage.getItem('itemAry');
                        if (localAry == null) {
                            
                            var ary = []
                        }else{
                            
                            var ary = JSON.parse(localAry)
                            console.log(ary)
                        }
                  
                        ary.push(itemOBject)
                        ary.reverse()
                        sessionStorage.setItem('itemAry', JSON.stringify(ary));

                        
                         document.getElementById('itemDes_0').value = "";
                        document.getElementById('itemQty_0').value = "";
                        document.getElementById('itemUnitePrice_0').value = "";
                        document.getElementById('totalPrice_0').value = "";
                        document.getElementById('discount_0').value = "";
                       document.getElementById('netPrice_0').value = "";
                        
                      addItemsInList()
                      deleteItem()
                      itemsSummary()
                    }
                   
            })


    


          
    // delete data from sessions storage
    function deleteItem() {
        
        var dltItem = document.getElementsByClassName('dltItem')
        dltItem = Array.from(dltItem)
        dltItem.forEach(function (btn,index) {
            var deleteBtn = document.getElementById(`dltItem_${index}`)
            
            deleteBtn.addEventListener('click', function(){
                var ary = sessionStorage.getItem('itemAry')
                ary = JSON.parse(ary)
                console.log('working')
                ary.splice(index,1);
                console.log(ary)
              
                sessionStorage.setItem('itemAry',JSON.stringify(ary))
                addItemsInList()
                deleteItem()
                itemsSummary()
            })
            
        });

    }
    
        deleteItem()
  
  




    // getting ItemValue  and calculatingIt
    function calculateItemPrice() {

        var itemQty_0 = document.getElementById('itemQty_0');
        var itemUnitePrice_0 = document.getElementById('itemUnitePrice_0');
        var totalPrice_0 = document.getElementById('totalPrice_0')
        var netPrice_0 = document.getElementById('netPrice_0')
        
        itemUnitePrice_0.addEventListener('input',function() {
            console.log(itemUnitePrice_0.value)
            if(itemQty_0.value == ""){
                itemQty_0.value = 1
            }

            total = itemQty_0.value * itemUnitePrice_0.value
            totalPrice_0.value = total
            netPrice_0.value = totalPrice_0.value
        })

        itemQty_0.addEventListener('input',function() {
            var itemQty_0 = document.getElementById('itemQty_0');
            var itemUnitePrice_0 = document.getElementById('itemUnitePrice_0');
            var totalPrice_0 = document.getElementById('totalPrice_0')
            var netPrice_0 = document.getElementById('netPrice_0')
            

            total = itemUnitePrice_0.value * itemQty_0.value;
            if(total != 0){
                totalPrice_0.value = total
                netPrice_0.value = totalPrice_0.value 
            }
            
        })


        // net price

        var discount_0 = document.getElementById('discount_0');
        discount_0.addEventListener('input', function () {
            var netPrice_0 = document.getElementById('netPrice_0');
            var totalPrice_0 = document.getElementById('totalPrice_0')
            var discount = totalPrice_0.value - discount_0.value;
            netPrice_0.value = discount
        })


    





    }
    calculateItemPrice()




    

    // adding subTotal to of all items
    function itemsSummary() {
        var aryItems = sessionStorage.getItem('itemAry')
        aryItems = JSON.parse(aryItems);

        if(aryItems){
            var subTotalPrice = 0;
            aryItems.forEach(function(item,index) {
                var total = parseInt(item.netPrice_0)
                subTotalPrice +=total
            })
            
            document.getElementById('subTotalVaue').innerText = subTotalPrice
            $('#subTotalVaueInput').val(subTotalPrice)
            document.getElementById('balanceDue').innerText = subTotalPrice;
            $('#balanceDueInput').val(subTotalPrice)
            document.getElementById('totalSummary').innerText = subTotalPrice;
            $('#totalSummaryInput').val(subTotalPrice)
            document.getElementById('subTotalVaue').innerText = subTotalPrice;
        }


        // summary items prciess
        var addTax = document.getElementById('addTax');
        addTax.addEventListener('input', function () {

        var balanceDue = document.getElementById('balanceDue');
        var totalSummary = document.getElementById('totalSummary');
        var subTotalVaue = document.getElementById('subTotalVaue')

           
            var subValue = parseInt(subTotalVaue.innerText)
            var tax = parseInt(addTax.value)
            var total = subValue+tax
            totalSummary.innerText = total;
            $('#totalSummaryInput').val(total)
            balanceDue.innerText = total
            $('#balanceDueInput').val(total)
        })
        // Nabi

    }
    itemsSummary()
    





















    // when from sumite than clear sessiosn storage
    $(".generate_invoiceBtn").click(function(){
        sessionStorage.removeItem('itemAry')
    })








    





})//jquery ends




    // previewImg


    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
        console.log(event.target.files[0])
    };

    var loadFile2 = function (event) {
      
        var image = document.getElementById('output2');
        image.src = URL.createObjectURL(event.target.files[0]);
        console.log(event.target.files[0])

    };




</script>

</html>